<header class="flex justify-evenly mx-10 mt-4 border-b-2 h-14 items-center w-full">
    <h1 class="text-black tracking-widest font-bold text-1xl">TIKITAKA</h1>
    <form method="get">
        <div class="flex">
            <input class="border rounded-l-lg py-2 px-2" type="text" placeholder="Search...">
            <button class="bg-black hover:bg-gray-400 hover:text-black text-white font-bold py-2 px-4 rounded-r-lg ml-1">
                Search
            </button>
        </div>            
    </form>
    <span class="flex"> 
        <span>
            <a href="/logout/<%= profile.Profile.id %>" class="font-bold text-lg tracking-widest"><button>
                <i class="fa-solid fa-angles-left mr-3"></i> Logout</button></a>
        </span>
    </span> 
</header>