<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikiTaka</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <style>
        header {
            position: sticky;
            top: 0;
            z-index: 10; 
            background-color: white; 
        }
    </style>
</head>
<body>
    <%- include('_navbar') %>
    <%- include('_sidebar') %>

        <div class="flex-1 relative">
            <div class="flex items-center justify-center h-full overflow-y-auto">
                <img src="https://via.placeholder.com/400" alt="Placeholder Image" class="max-w-full max-h-full">
            </div>
        </div>
    </div>
</body>
</html>
